<div class="modal-content" data-ng-init="getTheCollborators(note)">
	<div class="modal-header">
		<font size="5px">Collborators</font>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-sm-2">
				<img data-ng-show="owner.image==null" src="images/photo.jpg"
					class="img-circle" height="50" width="50" />
			</div>
			<!-- <img data-ng-src="{{}}" class="img-circle"   height="50" width="50"/> -->
			<div class="col-sm-8">
				<font size="3px">{{note.user.userName}}<i class="pull-right">(owner)</i></font>
			</div>
			<div class="col-sm-8">
				<font size="3px">{{note.user.emailId}}</font>
			</div>
		</div>
		<br>
		<div data-ng-repeat="user in collaborators">
			<div class="row" data-ng-show="user.userName!=note.user.userName" style="height: 72px;">
				<div class="col-sm-2">
					<img data-ng-show="user.image==null" src="images/photo.jpg"
						class="img-circle" height="50" width="50" />
				</div>
				<!-- <img data-ng-src="{{}}" class="img-circle"   height="50" width="50"/> -->
				<div class="col-sm-8">
					<font size="3px">{{user.userName}}</font> 
					<i class="glyphicon glyphicon-remove col-sm-1 pull-right" 
					data-ng-click="removeUserFromCollaboration($index,note,user)"></i>
					<br>
					{{user.emailId}}
				</div>
				<!-- <div class="col-sm-8">
					<font size="3px">{{user.emailId}}</font>
				</div> -->
			</div>
		</div>
		<br> <br>
		<div class="row">
			<input type="email" class="col-sm-12" data-ng-model="emailId"
				placeholder="Enter Collborator">
		</div>
	</div>
	<div class="modal-footer">
		<div role="button" data-ng-click="addCollaboraotrs(note,emailId)"
			class="btn btn-done pull-right inline" data-dismiss="modal">DONE</div>
	</div>
</div>
