<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>
<div id="noteContainer" class="container-fluid">

	<div class="row">
		<div class="col-lg-3 col-md-3"></div>
		<div id="note" class=" col-sm-12 col-md-6 col-xs-12 col-lg-4">
			<div contenteditable="true" data-text="Title"
				data-ng-model="newNote.noteTitle" id="note-title"></div>
			<div contenteditable="true" data-text="Take a note"
				data-ng-model="newNote.noteDescription" id="note-body"></div>
			<div class="note-icons">
				<img src="images/archive.png"> <img src="images/reminder.png">
				<img src="images/colors.png"> <img
					src="images/collaborator1600.png">
				<div role="button" data-ng-click="createNote()"
					class="btn btn-done pull-right">DONE</div>
			</div>
		</div>
	</div>

	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<h4 data-ng-show="pinnedNote.length">Pinned:</h4>
			<div
				data-ng-repeat="note in notes | filter : {pinned : true} as pinnedNote"
				id="note-scope" class="col-md-6 col-sm-6 col-xs-12 col-lg-4">

				<div class="card">
					<div class="card-block" data-ng-click="showModal(note)">
						<img class="pull-right" src="images/pinned.svg"
							data-ng-click="unpinNote(note)" width="22" height="22">
						<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
						<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
					</div>
					<div class="note-icons">
						<img data-ng-src="images/archive.png"
							data-ng-click="archiveNote(note)">
						<div class="dropdown inline pull-right">
							<img src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a data-ng-click="deleteNote(note)">Delete</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>

	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<h4 data-ng-show="otherNotes.length">Others:</h4>
			<div
				data-ng-repeat="note in notes | filter : {trashed : false , archived : false , pinned : false} as otherNotes"
				id="note-scope" class="col-md-6 col-sm-6 col-xs-12 col-lg-4">

				<div class="card">
					<div class="card-block" data-ng-click="showModal(note)">
						<img class="pull-right" src="images/unpinned.svg"
							data-ng-click="pinNote(note)" width="22" height="22" id="notPinned">
						<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
						<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
					</div>
					<div class="note-icons">
						<img data-ng-src="images/archive.png"
							data-ng-click="archiveNote(note)">
						<div class="dropdown inline pull-right">
							<img src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a data-ng-click="deleteNote(note)">Delete</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>

</div>