<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>
<div id="noteContainer" class="container-fluid">
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div id="note-container"
			class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
				<h4 data-ng-show="pinnedNotes.length">Pinned:</h4>
				<div
					data-ng-repeat="note in notes | filter : {pinned : true , trashed : false , archived : false , labeled : true} | labelExtratorFilter : navBarName as pinnedNotes"
					id="note-scope" class="{{changeView}}">
					<div class="card" style="background-color: {{note.color}}" data-ng-init="getTheCollborators(note)">
						<div class="card-block" data-ng-click="showModal(note)">
							<div class="img-wrapper">
								<img class="pull-right Pinned" src="images/pinned.svg"
								data-ng-click="note.pinned = false;updateNote(note);" width="22" height="22">
							    <img class="img-responsive images" data-ng-src="{{note.image}}">
							    <div class="img-overlay">
							      <button data-ng-if="note.image" class="btn btn-md" data-ng-click="$event.stopPropagation();note.image=null;updateNote(note);">
							      	<i class="glyphicon glyphicon-trash"></i></button>
							    </div>
							</div>
							<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
							<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
						</div>
						<note-extras></note-extras>
						<note-icons></note-icons>
						<url-meta-data></url-meta-data>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>

	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<h4 data-ng-show="otherNotes.length && pinnedNote.length">Others:</h4>
			<div
				data-ng-repeat="note in notes | filter : {trashed : false , archived : false , pinned : false , labeled : true} | labelExtratorFilter : navBarName as otherNotes"
				id="note-scope" class="{{changeView}}">
				<div class="card" style="background-color: {{note.color}}" data-ng-init="getTheCollborators(note)">
					<div class="card-block" data-ng-click="showModal(note)">
						<div class="img-wrapper">
							<img class="pull-right notPinned" src="images/unpinned.svg"
							data-ng-click="note.pinned = true;updateNote(note);" width="22" height="22"
							id="notPinned">
						    <img class="img-responsive images" data-ng-src="{{note.image}}">
						    <div class="img-overlay">
						      <button data-ng-if="note.image" class="btn btn-md" data-ng-click="$event.stopPropagation();note.image=null;updateNote(note);">
						      	<i class="glyphicon glyphicon-trash"></i></button>
						    </div>
						</div>
						<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
						<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
					</div>
					<note-extras></note-extras>
					<note-icons></note-icons>
					<url-meta-data></url-meta-data>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>

	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<h4 data-ng-show="archivedNotes.length">Archived:</h4>
			<div
				data-ng-repeat="note in notes | filter : {archived : true , trashed : false , pinned : false , labeled : true} | labelExtratorFilter : navBarName as archivedNotes"
				id="note-scope" class="{{changeView}}">

				<div class="card" style="background-color: {{note.color}}" data-ng-init="getTheCollborators(note)">
					<div class="card-block" data-ng-click="showModal(note)">
						<div class="img-wrapper">
							<img class="pull-right notPinned" src="images/unpinned.svg"
							data-ng-click="note.archived = false;note.pinned = true;updateNote(note);" width="22" height="22">
						    <img class="img-responsive images" data-ng-src="{{note.image}}">
						    <div class="img-overlay">
						      <button data-ng-if="note.image" class="btn btn-md" data-ng-click="$event.stopPropagation();note.image=null;updateNote(note);">
						      	<i class="glyphicon glyphicon-trash"></i></button>
						    </div>
						</div>
						<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
						<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
					</div>
					<note-extras></note-extras>
					<note-icons></note-icons>
					<url-meta-data></url-meta-data>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
	</div>
</div>
