	<div class="topNav">
	<nav class="navbar navbar-default navbar-fixed-top"
		style="background-color: {{navBarColor}}">
		<div class="navbar-header">
			<a class="navbar-brand"> <span
				style="font-size: 30px; cursor: pointer" onclick="toogleNav()">&#9776;</span>
			</a>
		</div>
		<div class="navbar-header">
			<a class="navbar-brand" data-ng-bind="navBarName"></a>
		</div>
		<input id="searchbar" type="text" placeholder="Search.." data-ng-click="chageToSearch()" data-ng-model="noteSearched">
      	<button id="searchbutton" type="submit" data-ng-click="chageToHome()"><i class="fa fa-close"></i></button>
		<ul class="nav navbar-nav navbar-right">
			<li><a data-ng-click="listView()"><span class="{{icon}}"></span></a></li>
			<li><div class="navbar-header navbar-right" >
					<div class="dropdown navbar-brand">
						<a class="dropdown-toggle" data-toggle="dropdown"
							style="background-color: {{navBarColor}}"> 
							<img data-ng-show="owner.picture==null" src="images/photo.jpg"
							class="img-circle" height="30px" width="30px"
							style="margin-right: 30px; overflow: hidden; padding-bottom: 3px;" />
							<img data-ng-show="owner.picture!=null" data-ng-src="{{owner.picture}}"
								class="img-circle" height="40px" width="40px"
								style="margin-right: 30px; overflow: hidden; margin-top: -9px;" /></a>
						<ul class="dropdown-menu" style="margin-right: 40px; width: 300px;">
							<li><div class="panel panel-default">
									<div class="panel-body"><div class="row">
										<div class="col-sm-2">
											<img data-ng-show="owner.picture==null" src="images/photo.jpg"
												class="img-circle" height="30px" width="30px"
												style="margin-right: 30px; overflow: hidden;" 
												data-ng-click="triggerImageUploadUI(owner,'owner')" />
											<img data-ng-show="owner.picture!=null" data-ng-src="{{owner.picture}}"
												class="img-circle" height="40px" width="40px"
												style="margin-right: 30px; overflow: hidden;" 
												data-ng-click="triggerImageUploadUI(owner,'owner')" />
										</div>
										<div class="col-sm-8">
											<font size="3px">{{owner.userName}}</font>
										</div>
										<div class="col-sm-8">
											<font size="3px">{{owner.emailId}}</font>
										</div>
									</div></div>
									<div class="panel-footer"><button data-ng-click="logoutUser()">Logout</button></div>
								</div></li>
						</ul>
					</div>
				</div></li>
		</ul>
	</nav>
</div>
