<div class="topNav">
	<nav class="navbar navbar-default navbar-fixed-top"
		style="background-color: {{navBarColor}}">
		<div class="navbar-header">
			<a class="navbar-brand"> <span
				style="font-size: 30px; cursor: pointer" onclick="toogleNav()">&#9776;</span>
			</a>
		</div>
		<div class="navbar-header">
			<a class="navbar-brand" data-ng-bind="navBarName"></a>
		</div>
		<div class="navbar-header navbar-right">
			<div class="dropdown navbar-brand">
				<a class="dropdown-toggle" data-toggle="dropdown"> <span
					class="glyphicon glyphicon-user black" style="margin-right: 15px;"></span></a>
				<ul class="dropdown-menu">
					<li><a data-ng-click="logoutUser()"> <span
							class="glyphicon glyphicon-log-out"></span> Logout
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
