<top-nav-bar></top-nav-bar>
<side-nav-bar></side-nav-bar>
<div id="noteContainer" class="container-fluid">
	<div id="note-container"
		class=" col-sm-12 col-md-12 col-xs-12 col-lg-12">

		<div class="col-lg-1 col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12 col-lg-10">
			<div data-ng-repeat="note in notes | filter : {trashed : true}"
				id="note-scope" class="{{changeView}}">

				<div class="card" style="background-color: {{note.color}}">
					<div class="card-block" data-ng-click="showModal(note)">
						<img class="images" data-ng-src="{{note.image}}"></img>
						<div class="card-title" data-ng-bind-html="note.noteTitle"></div>
						<div class="card-text" data-ng-bind-html="note.noteDescription"></div>
					</div>
					<span class="note-extras" style="display: inline-block;"
						data-ng-show="note.labels">
						<button type="button" class="btn btn-xs"
							data-ng-repeat="label in note.labels">
							{{label.labelName}}<span class="badge" style="color: white;"><span
								class="glyphicon glyphicon-remove"
								data-ng-click="removeLabelFromNotes(note,label,$index)"></span></span>
						</button>
						<button type="button" class="btn btn-xs"
							data-ng-show="note.reminderDate&&note.reminderTime">
							{{note.reminderDate | date : 'MMM dd'}},{{note.reminderTime}}<span
								class="badge" style="color: white;"><span
								class="glyphicon glyphicon-remove"
								data-ng-click="deleteReminderOfNote(note)"></span></span>
						</button>
					</span>
					<div class="note-icons">				
						<div class="dropup">
							<img src='images/more.svg' width="19px" height="19px"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a data-ng-click="deleteNotePermanently(note)">Delete
										Forever</a></li>
								<li><a data-ng-click="restoreNote(note)">Restore</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1"></div>
</div>